.contabilidad-layout {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgba(255, 255, 255, 0.05);
}
.contenido {
  margin-top: 60px; /* espacio para navbar */
  margin-left: 520px; /* espacio para barra lateral */
  padding: 2rem;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  text-align: center;
}

.contenido h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: bold;
}
.tabla-egresos {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.85rem;
}

.tabla-egresos th,
.tabla-egresos td {
  padding: 0.5rem 0.6rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.tabla-egresos th {
  background-color: #f0f0f0;
  color: #6a0dad;
  font-weight: bold;
}

.tabla-egresos tr:hover td {
  background-color: #f5e9ff;
}

.btn-agregar {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-agregar:hover {
  background-color: #4e078c;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-contenido {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  animation: aparecerModal 0.4s ease-out;
}


.modal-contenido input,
.modal-contenido textarea {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-botones {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modal-botones button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-botones button:first-child {
  background-color: #6a0dad;
  color: white;
}

.modal-botones button:last-child {
  background-color: #ccc;
}
.botones-finales {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.btn-exportar {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-exportar:hover {
  background-color: #910404;
}
.h2 {
  color: #6a0dad;
  margin-bottom: 1rem;
}
@keyframes aparecerModal {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}